<div class="container" id="dashboard_container">

  <div class="row">

    <div class="col s12">

      <div class="center-align valign-wrapper">

        <div id="cont" data-pct="100">

          <svg id="svg" width="220" height="220" viewport="0 0 110 110" stroke-dashoffset="635" version="1.1" xmlns="http://www.w3.org/2000/svg">

            <circle r="95" cx="110" cy="110" fill="transparent" stroke-dasharray="400.00" stroke-dashoffset="0"></circle>

            <circle id="bar" r="101" cx="110" cy="110" fill="transparent" stroke-dasharray="635"></circle>

            <h3 id="time_before"><p>
              before purchase
            </p></h3>

          </svg>

        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col s12">

      <div class="center-align" id="title_container">

        <h2 id="objectif_title"></h2>

        <p id="objectif_price"></p>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col s12">

      <div class="center-align" id="desc_container">

        <h4>Description :</h4>

        <p id="objectif_desc">



        </p>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col s12">

      <div class="center-align" id="money_container">

        <div class="money col s12 colp">

          <h5>Available substance</h5>

          <p id="objectif_sub"></p>

        </div>

        <div class="money col s12 cols">

          <h5>Income this month</h5>

          <p id="objectif_inc"></p>

        </div>

        <div class="money col s12 coln">

          <h5>Spend this month</h5>

          <p id="objectif_spend"></p>

        </div>

      </div>

    </div>

  </div>

</div>
